.ex-1-square {
  transition: background-color 1.5s linear;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  transition: width 1.5s linear;
}

.ex-2-square:active {
  width: 100%;
}
