.ex-1-square {
  transition: background-color 1.5s linear;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  transition: width 1.5s linear;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: border-radius 0.4s linear;
}

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  transition: opacity 1s linear;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: transform 0.5s linear;
}

.ex-5-square:hover {
  transform: scale(200%);
}

.ex-5-square:active {
  transform: scale(50%);
}
