.ex-1-square {
  transition: background-color 1.5s linear;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  transition: width 1.5s linear;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: border-radius 0.4s linear;
}

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  transition: opacity 1s linear;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: transform 0.5s linear;
}

.ex-5-square:hover {
  transform: scale(200%);
}

.ex-5-square:active {
  transform: scale(50%);
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: filter 1.5s linear;
}

.ex-7-img:hover {
  filter: sepia(1);
}

.ex-8-img {
  transition: filter 1s linear, border-radius 1s linear;
}

.ex-8-img:hover {
  filter: sepia(1);
  border-radius: 16px;
}

.ex-9-img {
  transition: transform 1s linear, border-radius 1s linear, filter 1s linear;
}

.ex-9-img:hover {
  transform: scale(150%);
  border-radius: 16px;
  filter: sepia(1);
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.ex-10-icon {
  animation: 2s linear 0s infinite normal none running rotate;
}

@keyframes partial-rotate {
  0% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0);
  }
}

.ex-11-icon:hover {
  animation: 2s linear 0s 1 partial-rotate;
}

@keyframes es-12-top {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(180%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes es-12-bottom {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0);
  }
}

.ex-12-button:hover .ex-12-top-white {
  animation: 3s es-12-top;
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: 3s es-12-bottom;
}

@keyframes es-13-top {
  0% {
    transform: translateX(0);
  }

  36% {
    transform: translateX(200%);
  }

  48% {
    transform: translate(200%, 300%);
  }

  84% {
    transform: translate(-75%, 300%);
  }

  96% {
    transform: translate(-75%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes es-13-bottom {
  0% {
    transform: translateX(0);
  }

  36% {
    transform: translateX(-175%);
  }

  48% {
    transform: translate(-175%, -300%);
  }

  84% {
    transform: translate(100%, -300%);
  }

  96% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: 3s es-13-top;
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: 3s es-13-bottom;
}
